.web-toast {
    color: #ffffff;
    padding: 10px;
    position: fixed;
    top: 10px;
    right: -100%;
    z-index: 9999;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.web-toast.show {
    right: 20px;
}

.web-toast.success {
    background-color: rgb(23, 126, 23);
}

.web-toast.error {
    background-color: rgb(150, 18, 18);
}

.web-toast.warning {
    background-color: rgb(231, 231, 104);
    color: #0f0f0f;
}